---
title: Documentation
---

{% include "../_includes/header.njk" %}
<h1>Documentation: President Pedro</h1>
<p>This is the documentation archive.</p>
<ul>
  {% for doc in collections.docs %}
    <li><a href="{{ doc.url }}">{{ doc.data.title }}</a></li>
  {% endfor %}
</ul>