<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About President Pedro</title>
</head>
<body>
    <h1>President Pedro Configuration</h1>
    <p>VScode with WSL, github repo, github pages, custom domain with github A record IPs</p>
</body>
</html>