---
title: Blog
layout: 'base.njk
---

<div clas="section-container">
  <h1>Blog: President Pedro</h1>
  <p>This is the blog archive.</p>
</div>

<ul role="list> class="blog-list">
{% for blog in collections.blog %}
  <li>
    <h3 class="blog-list-title">{{ blog.data.title }}</h3>
    <a href="{{ blog.url }}">Read More</a>
  </li>
{% endfor %}
</ul>