<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
</head>
<body>
  {% include "./_includes/header.njk" %}
  <h1>Contact: President Pedro</h1>
  <p>This is going to need a form.</p>
</body>
</html>