<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  {% include "./_includes/header.njk" %}
  <h1>Project: President Pedro</h1>
  <p>This is the home page.</p>
  <h2>This is a video about this site</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/s3PblwxhWHM?si=6wTwFc0jy16aGetQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>